body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: linear-gradient(to right, rgba(212, 237, 252), rgba(91, 190, 255), rgba(73, 165, 230), rgba(25, 115, 184));
}
header{
    font-family: Helvetica;
    width: 480px;
    margin: 0 auto;
}
  ul{
    list-style: none;
}
  #menu li>a{
    background-color:rgba(7, 33, 70);
    color: white;
    padding: 30px;
    display: block;
    text-decoration: none;
    min-width: 100px;
  }
  #menu li>a:hover{
    color: black;
    background-color: RGBA(234,249,250);
  }
  #menu>li{
    float: left;
    text-align:center
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }